html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

canvas {
  width: 500px;
  height: 500px;
}

#Render {
  display: none;
}

textarea {
  width: calc(100% - 5px);
  resize: none;
  height: 100px;
}

#Header {
    height: 100px;
    width: 100vw;

    border-bottom: 1px solid black;

}

#Header > h1 {
    margin: 0;
    padding: 0;
}

#Content {

    width: 100vw;
    height: calc(100vh - 100px);

    display: flex;

}

#Preview {

    height: 100%;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

#tabHolder {

    height: 100%;
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#PreviewImage {

    max-width: calc(100% - 100px);
    max-height: calc(100% - 100px);

    min-width: 50%;

    margin-top: 15px;


}

.Tab {

    border: 1px solid black;

    height: 50%;
    padding: 5px;

}
